mysqlclient==1.3.7
oauth2client>=1.5.2
passlib>=1.6.5
pika>=0.10.0
premailer>=3.0.1
pyasn1>=0.1.9
pycryptodome>=3.4
pyjwt>=0.3.2
pyOpenSSL>=16.0.0
python-dateutil>=2.5.3
python-oauth2>=1.0.0
pytz>=2016.6.1
pyzmq>=15.3.0
requests>=2.10.0
rethinkdb>=2.3.0
sockjs-tornado>=1.0.3
tornado>=4.4.0
tornado-cors>=0.6.0
