<script type="text/babel" src="/static/js/react-input-autosize.min.js"></script>
<script type="text/babel" src="/static/js/react-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
<script type="text/javascript" src="/static/js/moment.min.js"></script>
<script type="text/javascript" src="/static/js/classname.js"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/react.js"></script>
<script src="/static/js/react-dom.js"></script>
<script src="/static/js/alt.min.js"></script>
<script src="/static/js/myslice.js"></script>
