<nav class="navbar navbar-default navbar-myslice">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="test">
            <ul class="nav navbar-nav" >
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="icon" src="/static/icons/experiment-16.png" alt="Experiment"> SliceName <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Slice1</a></li>
                        <li><a href="#">AnotherSlice</a></li>
                        <li><a href="#">Somethingelseslice</a></li>
                    </ul>
                </li>
                <li><a href="#"><img class="icon" src="/static/icons/projects-w-16.png" alt="Projects"> Experiments</a></li>
                <li><a href="#"><img class="icon" src="/static/icons/requests-w-16.png" alt="Resquests"> Requests</a></li>
                <li><a href="#"><img class="icon" src="/static/icons/activity-w-16.png" alt="Activity"> Activity</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><img class="icon" src="/static/icons/support-w-16.png" alt="Support"> Support</a></li>
                <li><a href="#"><img class="icon" src="/static/icons/status-w-16.png" alt="Status"> Status</a></li>
                <li><a href="#"><img class="icon" src="/static/icons/user-w-16.png" alt="User"> user@email.com</a></li>
            </ul>
        </div>
    </div>
</nav>