{% extends "layout.html" %}
{% block title %}-Request to add organization-{% end %}
{% block head %}
{% end %}
{% block js %}
<script type="text/javascript" src="/static/js/build/addOrganization.js"></script>
{% end %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-3 logo-image">
			<a href="/"><img class="img-responsive" src="/static/images/onelab/onelab-color.png" alt="OneLab - Future Internet Testbeds" /></a>
        </div>
        <div class="col-sm-3 logo-title">
            <h1>Add Organization</h1>
        </div>
    </div>
</div>
<div id="addOrganization"></div>
{% end %}
