<!doctype html>
<html>
    <head>
        <title>MySlice {% block title %}{% end %}</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,300italic,400,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <!--<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">-->
        <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
        <link rel="stylesheet" type="text/css" href="/static/css/react-select.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
        {% block head %}{% end %}
    </head>
    <body>
        {% if current_user %}
        <header>
            {% include '_header.html' %}
            {% include '_navbar.html' %}
        </header>
        {% end %}
        {% block body %}{% end %}
        {% block js %}
        {% end %}
    <script src="/static/js/build/navbar.js"></script>
    </body>
</html>