<!doctype html>
<html>
  <head>
    <title>MySlice {% block title %}{% end %}</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,300italic,400,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <!--<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
    <script src="/static/js/react.js"></script>
    <script src="/static/js/react-dom.js"></script>
    <script src="/static/js/redux.min.js"></script>
    <script src="/static/js/react-redux.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
    <script type="text/babel" src="/static/jsx/navbar.jsx"></script>
    <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% block head %}{% end %}
  </head>
  <body>
    {% include '_header.html' %}
    {% include '_navbar.html' %}
    {% block body %}{% end %}
  </body>
</html>