<!doctype html>
<html>
    <head>
        <title>MySlice - Login</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,300italic,400,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
        <link rel="stylesheet" type="text/css" href="/static/css/react-select.min.css">

        <script type="text/babel" src="/static/js/react-input-autosize.min.js"></script>
        <script type="text/babel" src="/static/js/react-select.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
        <script type="text/javascript" src="/static/js/moment.min.js"></script>
        <script type="text/javascript" src="/static/js/classname.js"></script>

        <script src="/static/js/axios.min.js"></script>
        <script src="/static/js/react.js"></script>
        <script src="/static/js/react-dom.js"></script>
        <script src="/static/js/alt.min.js"></script>
        <script src="/static/js/myslice.js"></script>

        <script type="text/babel" src="/static/js/actions/login.js"></script>
        <script type="text/babel" src="/static/js/stores/login.js"></script>
        <script type="text/babel" src="/static/js/components/login.jsx"></script>
    </head>

    <body class="login">
        <header>
            <div class="row">

                <div class="col-sm-6 col-sm-offset-6">
                    <ul class="list-inline header-menu">
                        <li><a href="">About</a></li>
                        <li><a target="_blank" href="https://onelab.eu">Website</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-3 logo-image">
                    <img class="img-responsive" src="/static/images/onelab-big.png" alt="OneLab - Future Internet Testbeds" />
                </div>
                <div class="col-sm-3 logo-title">
                    <h1>Login</h1>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-3">
                    <div id="login-form" class="login-form"></div>
                </div>
            </div>
        </div>
    </body>
</html>
