{% extends "layout.html" %}
{% block title %}- Password{% end %}
{% block head %}
{% end %}
{% block js %}
<script src="/static/js/build/password.js"></script>
{% end %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-3 logo-image">
            <img class="img-responsive" src="/static/images/onelab-big.png" alt="OneLab - Future Internet Testbeds" />
        </div>
        <div class="col-sm-3 logo-title">
            <h1>Password</h1>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-3">
            <div id="passwordReset"></div>
        </div>
    </div>
    <div class="">
        <div class="col-sm-4 col-sm-offset-3">
            {{ message }}
        </div>
        <input type="hidden" id="new_hashing" value="{{new_hashing}}" />
    </div>
</div>
{% end %}
