{% extends "layout.html" %}
{% block title %}- Registration{% end %}
{% block head %}
{% end %}
{% block js %}
<script type="text/javascript" src="/static/js/build/registration.js"></script>
{% end %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-3 logo-image">
            <img class="img-responsive" src="/static/images/onelab-big.png" alt="OneLab - Future Internet Testbeds" />
        </div>
        <div class="col-sm-3 logo-title">
            <h1>Registration</h1>
        </div>
    </div>
    <div id="registrationForm" class="registrationForm form"></div>
</div>
{% end %}