<p>Dear 
    {% for r in recipients %}
        {% block r %}
            {{ escape(r.first_name) }} {{ escape(r.last_name) }}, 
        {% end %}
    {% end %}
</p>
<p></p>
<p>You have recently requested a {{ entity }} in the {{ theme }} portal.</p>

<p> We are pleased to inform you that your project request on the {{theme}} portal is ready to be used.</p>

<p>You can now create an experiment and add resources to it.</p>

<p><a href="https://portal.onelab.eu">https://portal.onelab.eu</a></p>

<p>We wish you a fruitful user experience with the {{ theme }} portal.</p>

<p></p>

<p>Yours sincerely,</p>
<p>The {{ theme }} team</p>
