<p>Dear 
    {% for r in recipients %}
        {% block r %}
            {{ escape(r.first_name) }} {{ escape(r.last_name) }}, 
        {% end %}
    {% end %}
</p>
<p></p>
<p>You have recently requested a {{  entity }} in the {{ name }} portal.</p>

<p> We are pleased to inform you that your slice request on the {{name}} portal has neen validated.</p>

<p>You can now add resources and start experimenting.</p>

<p><a href="https://portal.onelab.eu">https://portal.onelab.eu</a></p> 

<p></p>

<p>We wish you a fruitful user experience with the {{ name }} portal.</p>
<p></p>
<p>Yours sincerely,</p>
<p>The {{ name }} team</p>
