<p>Dear 
    {% for r in recipients %}
        {% block r %}
            {{ escape(r.first_name) }} {{ escape(r.last_name) }}, 
        {% end %}
    {% end %}
</p>
<p></p>
<p>We are pleased to inform you that your account on {{ theme }} portal has been successfully validated. You may now start using {{ theme }}!! </p>
{% include ../button.html %}
<p></p>

<p>
The OneLab operations team is standing by at support@onelab.eu to provide you with help regarding the portal and to refer your testbed- and tool-specific queries to those best able to answer them.
</p>
<p></p>

<p>Yours sincerely,</p>
<p>The {{ theme }} team</p>