<p>Dear {{first_name}} {{last_name}},</p>
<p></p>
<p>You have successfully created a new user approved by the authority manager.</p>
<p></p>
<p>
Your entry point for access to the testbeds is the OneLab portal, which provides a web-based interface for browsing and reserving resources on the various testbeds. To run an experiment using those resources, you may log in to the testbed and/or individual nodes on the testbed with your OneLab public/private key pair, or you may use an experiment control tool such as as NEPI or OMF. 
<p></p>
<p>
The OneLab operations team is standing by at support@onelab.eu to provide you with help regarding the portal and to refer your testbed- and tool-specific queries to those best able to answer them.
</p>
<p></p>

<p>Yours sincerely,</p>
<p>The {{ theme }} team</p>