.navbar-default {
    font-weight:100;
    border:0;
    margin:0;
    background-color: #221144;
    border-radius:0;
}
.navbar-default .navbar-nav {
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
}

.navbar-default .navbar-text {
}

.navbar-default .navbar-nav > li > a {
    padding:15px;
    margin:0 15px 0 0;
    color:white;
    border-top:4px solid #221144;
    border-bottom:4px solid #221144;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color:white;
    border-bottom:4px solid #F6F6F6;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    font-weight:400;
    color: #2C2C2C;
    border-top:4px solid #F6F6F6;
    border-bottom:4px solid #F6F6F6;
    background-color: #F6F6F6;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
}
.navbar-default .navbar-toggle {
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
}
.navbar-default .navbar-toggle .icon-bar {
}
.navbar-default .navbar-collapse {
    padding:0;

}
.navbar-default .navbar-form {
    background-color: #221144;
}
.navbar-default .navbar-link {
    color:red;
}
.navbar-default .navbar-link:hover {
}

.navbar-default .fa {
    vertical-align:middle;
    margin-bottom:1px;
    margin-right:4px;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  }
}