html, body {
    height:100%;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing:.6px;
    height: 100%;
    color:#2C2C2C;
    background-color:#F6F6F6;
}

body.login {
    background-color:white;
}

header {
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index:100;
    background-color:#FFFFFF;
}

header .logo {
    padding-top:15px;
    padding-bottom:15px;
}
header .logo-image {
    float:left;
    padding-right:25px;
}
header .logo-image img {
    height:60px;
}
header .logo-title {
    float:left;
    height:60px;
    padding:15px 0 15px 25px;
    border-left:1pt solid #2C2C2C;

}
header .logo-title h1 {
    margin:0;
    padding:0;
}

header .menu {
    font-size:10pt;
    font-weight:100;
    text-align:right;
    margin:0;
    padding:35px 0;
}
header .menu li {
    margin-left:15px;
}


a {
    color:#2C2C2C;
}
a:hover, a:focus {
    color:black;
    text-decoration:none;
}
h1 {
    font-size:20pt;
    font-weight:100;
}
h2 {
    font-size:32pt;
    font-weight:100;
    margin:0;
}
h3 {
    font-weight:400;
    margin:4px 0;
}
h4 {
    font-weight:100;
    margin:4px 0;
}

input[type=text],
input[type=password],
input[type=email] {
    font-size:11pt;
    padding:8px 12px;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #333;
    background-color:white;
    outline: none;
    box-shadow: none;
    width:100%;
}

input[type="text"]:disabled {
    color: #000000;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
    border:1px solid #251A50;
    box-shadow: none;
}

textarea {
	width: 100%;
    margin-top: 10px;
}

button {
    border:1px solid #EFEFEF;
    border-radius:2px;
    background-color:transparent;
    padding:5px 15px;
}
button:hover, button.active {
    background-color: #EFEFEF;
}
button.apply {
    border:1px solid #D9EAD3;
    background-color: #D9EAD3;
}
button.apply:hover, button.apply.active {
    background-color: #e0f1da;
}
button.large {
    border: none;
    background-color: rgba(0, 0, 0, 0.27);
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
button.large:hover, button.large.active {
    background-color: rgb(193, 154, 236);
}
div.message{
	height: 38px;
    padding-top: 9px;
	margin-bottom: 0px;
}
div.form {
    position:relative;
    padding-top:50px;
    padding-bottom:50px;
}

div.loading {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:999;
    background-color: rgba(246, 246, 246, 0.6);
}
div.loading img {
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-25px;
    margin-top:-25px;
    width:50px;
}

input.error {
    border:1px solid red;
}

.selectLabel {
    color: #2C2C2C;
}
.selectShortname {
    font-size:9pt;
    font-style:italic;
    color: #333;
}

p.inputDescription {
    font-size:9pt;
    color:#5e5e5e;
}

div.inputSubmit {

}

div.registrationForm {
    padding:25px 0;
}

.avatar {
    margin:15px 0;
}

/*
    LOGIN
*/

.login-view .logo-image {
    padding-right:30px;
}
.login-view .logo-title {
    border-left:1pt solid #2C2C2C;
    padding-left:30px;
}
.login-view .login-form {
    padding:50px 0;
}
.login-view .login-email {
    padding-bottom:25px;
}
.login-view .login-password {
    padding-bottom:25px;
}
.login-view .login-submit {

}

/*
    SLICES MENU
*/
.slices-menu {
    position:absolute;
    top:75px;
    left:5px;
    margin-bottom:15px;
    margin-right:15px;
    padding:10px;
    color:black;
    border:1pt solid white;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
    background-color:white;
    z-index:88;

}
.slices-menu::before {
    content: '';
    position: absolute;
    left: 40px;
    top: -16px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    clear: both;
    z-index:89;
}

.slices-menu > div {
    max-height:400px;
    overflow-y: auto;
}
.slices-menu ul {
    padding:0;
    margin:0;
    list-style:none;
}
.slices-menu li {
    float:left;
    width:100%;
    padding:15px;
    cursor:pointer;
}
.slices-menu li:hover {
    background-color:#F6F6F6;
}
.slices-menu li.active {
    background-color:#F6F6F6;
}
.slices-menu li h4 {
    font-size:13pt;
    font-weight:400;
}
.slices-menu li h4:hover {
}
.slices-menu li span {
    font-size:9pt;
    font-weight:100;
    font-style:italic;
    color:gray;

}
.slices-menu li h5 {
    font-size:9pt;
    font-weight:100;
    margin:0;
    padding:0;
}

/*
    PANELS
*/
.p-header {
    position:fixed;
    top:140px;
    width:50%;
    margin:0;
    padding:15px 15px;
    z-index:91;
}
.p-body {
    position:fixed;
    top:220px;
    bottom:10px;
    padding:0 15px;
    width:50%;
    overflow-y:auto;
    z-index:90;
    background-color:#F6F6F6;
}
.p-left .p-header {
    left:0;
    background-color:#F6F6F6;
}
.p-left .p-body {
    left:0;
    border-right:1px solid #DCDCF8;
}
.p-right .p-header {
    right:0;
    background-color:#F6F6F6;

}
.p-right .p-body {
    right:0;
    background-color:#F6F6F6;
}

.p-center .p-header {
    text-align:center;
}
.p-center .p-body {
    text-align:center;
}

.p-header h2 {
    padding:0;
    margin:0;
}
.p-header h2 span {
    color:gray;
    font-size:10pt;
}

.p-header-right {
    text-align:right;
}
.p-header-right button {
    margin:18px 0 0 0;
}

/*
    Panel Menu
*/
.p-menu {
}
.p-menu ul {
    margin:245px 0 0 50%;
    padding:0;
    list-style:none;
    border-right:1px solid #DCDCF8;
}
.p-menu li {
    font-weight:300;
    font-size:12pt;
    margin-bottom:15px;

}
.p-menu li a:hover {
    cursor:pointer;
    border-bottom:2pt solid #221144;
}
.p-menu li i {
    text-align:center;
    width:32px;
    margin-right:8px;
}

/*
    Dialog
*/
.dialog {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:100%;
    z-index:999;
    background-color:rgba(50, 50, 50, 0.95);
}
.dialogClose {
    position: fixed;
    top: 25px;
    right: 25px;
    color: white;
    cursor: pointer;
    font-size:13pt;
}

.dialog .d-panel {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    height:100vh;
    padding:25px 50px 25px 50px;
    background-color:#F6F6F6;
}
.dialog .d-panel .d-header {
}
.dialog .d-panel .d-body {
    //position:absolute;
    left:50px;
    right:50px;
    height:80vh;
    overflow-y: auto;
}
.dialog .d-panel .d-footer {
    text-align:center;
    padding:25px  0;
}
.dialog .d-panel .d-footer button {
    margin:0 25px;
}
/*
    Sections
*/
.section {
}

.s-header {
    margin-bottom:15px;
    margin-top:25px;
    border-bottom:1px solid #DCDCF8;
}
.s-header h3 {
    font-size:20pt;
    font-weight:100;
}

.s-header-right {

}
.s-body {
}

/*
    Element List
*/

.elementList {
    list-style:none;
    margin:0;
    padding:5px 4px 2px 20px;
}
.elementBox {
    position:relative;
    background-color:white;
    padding:10px 15px 15px 30px;
    margin:0;
    margin-bottom:6px;
    border:1px solid white;
    box-shadow: none;
    transition: box-shadow 0.05s ease-in;
}
.elementBox.pointer {
    cursor:pointer;
}
.elementBox.selected {
    background-color: #f5fafa;
    box-shadow: 1px 1px 3px 0 rgba(34, 17, 68, 0.2), -1px -1px 3px 0 rgba(34, 17, 68, 0.2);
    border: 1px solid rgba(34, 17, 68, 0.4);
}
.elementBox .arrow-right, .elementBox .check-right {
    position:absolute;
    bottom:15px;
    right:15px;
}

.elementIcon {
    position:absolute;
    top:15px;
    left:-20px;
    text-align:center;
    line-height:46px;
    width: 40px;
    height: 40px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.elementIcon.authority {
    color:#281E52;
    background-color:#D0E0E3;
}
.elementBox.selected.authority {
}
.elementIcon.user {
    color:#281E52;
    background-color:#CFE2F3;
}
.elementBox.selected.user {
}
.elementIcon.project {
    color:#281E52;
    background-color:#D9D2E9;
}
.elementBox.selected.project {
}
.elementIcon.slice {
    line-height:50px;
    color:#281E52;
    background-color:#EAD1DC;
}
.elementBox.selected.slice {
}
.elementIcon.resource {
    line-height:50px;
    color:#281E52;
    background-color:#D9EAD3;
}
.elementBox.selected.resource {
}
.elementIcon.testbed {
    line-height:50px;
    color:#281E52;
    background-color:#D9EAD3;
}
.elementBox.selected.testbed {
}
.elementIcon.registry {
    line-height:50px;
    color:#281E52;
    background-color:#D9EAD3;
}
.elementBox.selected.registry {
}

.elementTitle {
    font-size:14pt;
}
.elementTitle span {
    font-size:8pt;
    color:gray;
}
.elementId {
    font-style:italic;
    font-size:8pt;
    color:gray;
}
.elementLabel {
    font-size:9pt;
    color:grey;
    margin-right:2px;
}
.elementDetail {
    font-size:10pt;
    padding:15px 0;
}
.elementDate {
    font-size:9pt;
}
.elementButton {
	top:85px;
    position:absolute;
    right:25px;
}
.elementControl {
    position:absolute;
    top:15px;
    right:15px;
}
.elementOption {
    font-size:9pt;
    margin-bottom:8px;
}
.elementOption.delete {
    color:red;
}
.elementStatus {
    font-size:9pt;
    margin-bottom:8px;
}
.elementStatus .new {
    color:#8E7CC3;
}

.elementStatus .success, .elementStatus .enabled, .elementStatus .online {
    color:#93C47D;
}
.elementStatus .error, .elementStatus .denied, .elementStatus .offline {
    color:#E06666;
}
.elementStatus .warning {
    color:#F6B26B;
}
.elementStatus .waiting, .elementStatus .pending  {
    color:#76A5AF;
}

/*
    LOG
*/
.logList {
    margin:5px 0 0 0;
    padding:0;
    list-style:none;
}
.logRow {
    font-size:9pt;
}
.logIcon {
    color:#F6B26B;
}
.logTimestamp {
    margin-left:8px;
}
.logType {
    font-weight:bold;
    margin:0 8px;
}
.logMessage {

}

/*
    SETTINGS general for profile,password
*/

.settings-span {
    float: left;
    padding:0 12px 0 12px;
    font-size: 70%;
    font-weight: bold;
    color: #808080;
}

.settings-group {
    padding-bottom: 7.5px;
}

/*
    PROFILE
*/

.profileFirstName {
    padding-left: 7.5px;
    float: left;
    width: 50%;
}

.profileLastName {
    padding-right: 7.5px;
    float: left;
    width: 50%;
}

.profileAvatar {
    margin-bottom: 5px;
}


.profileBio textarea{
    font-size:11pt;
    padding:8px 12px;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 8px;
    border: 1px solid #ccc;
    color: #333;
    background-color:white;
    outline: none;
    box-shadow: none;
    margin-top: 0px;
    width:100%;
    resize:none;
}

.profileBio textarea:focus{
    border:1px solid #251A50;
    box-shadow: none;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/*
    Password
*/

.helpBlock {
    /*Light Yellow*/
    font-size: 85%;
    color: #FFA500; 
}

.WarningBlock {
    font-size: 85%;
    color: red;
    padding-bottom: 2px;
}

.inputIcon {
    float: right;
    margin-right: 35px;
    margin-top: -26px;
    position: relative;
    color: green;
    z-index: 91

}

@media(max-width:767px) {
    .p-header {
    }
    .p-body {
    }
}

@media(min-width:768px) {

}
@media(max-width:992px) {
    header {
        position:static;
    }
    .p-header {
        position:static;
        width:100%;
        padding:0;
    }
    .p-body {
        position:static;
        width:100%;
        padding:0;
    }

}
@media(min-width:1200px) {

}
