$color-default:#2C2C2C;
$color-background:#FBFBFB;
$color-overlay:rgba(50, 50, 50, 0.95);
$color-icon:#281E52;

$color-onelab-blue:#20214F;
$color-onelab-violet:#6C4675;

//$color-onelab-blue-light:#4347a5;
//$color-onelab-blue-light:#C9DFE3;
$color-onelab-blue-light:#DBE6EC;
$color-authority:#D0E0E3;
$color-user:#CFE2F3;
$color-project:#D9D2E9;
$color-slice:#EAD1DC;
$color-resource:#D9EAD3;
$color-testbed:#D9EAD3;
$color-registry:#D9EAD3;

$color-status-new:#8E7CC3;
$color-status-success:#93C47D;
$color-status-error:#E06666;
$color-status-warning:#F6B26B;
$color-status-waiting:#76A5AF;

@import url('/static/fonts/Roboto.css');

html, body {
    height:100%;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing:.6px;
    height: 100%;
    color:$color-default;
    background-color:$color-background;
}

body.login {
    background-color:white;
}


a {
    color:#2C2C2C;
}
a:hover, a:focus {
    color:black;
    text-decoration:none;
}
h1 {
    font-size:20pt;
    font-weight:100;
}
h2 {
    font-size:32pt;
    font-weight:100;
    margin:0;
}
h2 .subtitle {
  margin-left:18px;
}
h2 .separator {
  margin-left:20px;
}
h3 {
    font-weight:400;
    margin:4px 0;
}
h4 {
    font-weight:300;
    margin:5px 0;
}

input[type=text],
input[type=password],
input[type=email] {
    font-size:11pt;
    font-weight:100;
    padding:6px 10px;
    border: 1px solid #ccc;
    color: #333;
    background-color:white;
    outline: none;
    box-shadow: none;
    width:100%;
}

input[type="text"]:disabled {
    color: #000000;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
    border:1px solid #251A50;
    box-shadow: none;
}

textarea {
    width: 100%;
    margin-top: 10px;
}

button {
    border:1px solid #EFEFEF;
    border-radius:2px;
    background-color:transparent;
    padding:5px 15px;
}
button:hover, button.active {
    background-color: #EFEFEF;
}
button.apply {
    border:1px solid #D9EAD3;
    background-color: #D9EAD3;
}
button.apply:hover, button.apply.active {
    background-color: #e0f1da;
}
button.large {
    border: none;
    background-color: rgba(0, 0, 0, 0.27);
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
button.large:hover, button.large.active {
    background-color: rgb(193, 154, 236);
}
div.message{
	height: 38px;
    padding-top: 9px;
	margin-bottom: 0px;
}
div.form {
    position:relative;
    padding-top:50px;
    padding-bottom:50px;
}

div.loading {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:999;
    background-color: rgba(246, 246, 246, 0.6);
}
div.loading img {
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-25px;
    margin-top:-25px;
    width:50px;
}

input.error {
    border:1px solid red;
}

.selectLabel {
    color: #2C2C2C;
}
.selectShortname {
    font-size:9pt;
    font-style:italic;
    color: #333;
}
.selectDescription {
    font-size:9pt;
    color:#232323;
}
.selectLabel a, .selectLabel a:active {
    color:blue;
}
.selectLabel a:hover {
    text-decoration:underline;
}
p.inputDescription {
    font-size:9pt;
    color:#5e5e5e;
}

div.inputSubmit {

}

div.registrationForm {
    padding:25px 0;
}

.avatar {
    margin:15px 0;
}

/*
    LOGIN
*/

.login-view .logo-image {
    padding-right:30px;
}
.login-view .logo-title {
    border-left:1pt solid #2C2C2C;
    padding-left:30px;
}
.login-view .login-form {
    padding:50px 0;
}
.login-view .login-email {
    padding-bottom:25px;
}
.login-view .login-password {
    padding-bottom:25px;
}
.login-view .login-submit {

}

/*
  NAVBAR
 */

header {
  position:absolute;
  top:0;
  left:0;
  right:0;
  z-index:100;
  background-color:$color-onelab-blue;
}
header .logo {
}
header .logo-image {
  padding:8px 0 5px 0;
  width:85%;
}

header .menu {
    font-size:10pt;
    font-weight:100;
    text-align:right;
    margin:0;
    padding:35px 0;
}
header .menu li {
    margin-left:15px;
}

.navbar-default {
    font-weight:100;
    border:0;
    margin:0;
    background-color: $color-onelab-blue;
    border-radius:0;
}
.navbar-default .navbar-nav {
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
}

.navbar-default .navbar-text {
}
.navbar-default .navbar-nav > li {
}
.navbar-default .navbar-nav > li > div {
  border-top:4px solid $color-onelab-blue;
  border-bottom:4px solid $color-onelab-blue;
  margin:0 15px 0 0;
  padding:12px 12px 10px 12px;
  cursor:pointer;
}
.navbar-default .navbar-nav > li > div > div > a {
    color:white;
}
.navbar-default .navbar-nav > li > div > div {
    margin:0;
    padding:0;
}

.navbar-default .navbar-nav > li > div > div > a {
}

.navbar-default .navbar-nav > li > div:hover,
.navbar-default .navbar-nav > li > div:focus {
    color:$color-default;
    border-bottom:4px solid $color-onelab-blue-light;
}

.navbar-default .navbar-nav > .active > div,
.navbar-default .navbar-nav > .active > div:hover,
.navbar-default .navbar-nav > .active > div:focus {
  border-top:4px solid $color-onelab-blue-light;
  border-bottom:4px solid $color-onelab-blue-light;
  background-color: $color-onelab-blue-light;
  color:$color-default;
}
.navbar-default .navbar-nav > .active > div > div > a {
  font-weight:400;
  color:$color-default;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
}
.navbar-default .navbar-toggle {
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
}
.navbar-default .navbar-toggle .icon-bar {
}
.navbar-default .navbar-collapse {
    padding:0;

}
.navbar-default .navbar-form {
    background-color: $color-onelab-blue;
}
.navbar-default .navbar-link {
    color:red;
}
.navbar-default .navbar-link:hover {
}

.navbar-default .fa {
    vertical-align:middle;
    margin-bottom:1px;
    margin-right:4px;
}


@media (max-width: 2000px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  }
}

/*
  VIEWS
*/
.view {

}
.view-header {
  position:absolute;
  top:50px;
  width:100vw;
  padding:15px 0 18px 0;
  background-color:$color-onelab-blue-light;
  color:$color-default;
}
.view-body {
  position:absolute;
  top:130px;
  width:100vw;
}
.view-left {
  position:absolute;
  top:0;
  left:0;
  width:50%;
  height:80vh;
  overflow-y:auto;
}
.view-right {
  position:absolute;
  top:0;
  right:0;
  width:50%;
  height:80vh;
  overflow-y:auto;
}
/*
    PANELS
*/
.view-panel {
  padding:25px 0;
}

.p-body {
    top:220px;
    bottom:10px;
    padding:0 15px;
    width:50%;

    z-index:90;
    background-color:$color-background;
}
.p-left .p-header {
    left:0;
}
.p-left .p-body {
    left:0;
}
.p-right .p-header {
    right:0;

}
.p-right .p-body {
    right:0;
    background-color:$color-background;
}

.p-center .p-header {
    text-align:center;
}
.p-center .p-body {
    text-align:center;
}

.p-header h2 {
    padding:0;
    margin:0;
}
.p-header h2 span {
    color:gray;
    font-size:10pt;
}

.p-header-right {
    text-align:right;
}
.p-header-right button {
    margin:18px 0 0 0;
}

/*
    Panel Menu
*/
.p-menu {
}
.p-menu ul {
    margin:245px 0 0 50%;
    padding:0;
    list-style:none;
    border-right:1px solid #DCDCF8;
}
.p-menu li {
    font-weight:300;
    font-size:12pt;
    margin-bottom:15px;

}
.p-menu li a:hover {
    cursor:pointer;
    border-bottom:2pt solid #150947;
}
.p-menu li i {
    text-align:center;
    width:32px;
    margin-right:8px;
}


/*
    SLICES MENU
*/
.slices-menu {
    position:absolute;
    top:75px;
    left:5px;
    margin-bottom:15px;
    margin-right:15px;
    color:black;
    border:1pt solid white;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
    background-color:white;
    z-index:88;

}
.slices-menu::before {
    content: '';
    position: absolute;
    left: 40px;
    top: -16px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    clear: both;
    z-index:89;
}

.slices-menu > div {
    max-height:400px;
    overflow-y: auto;
    width: 300%;
    background-color:white;
}
.slices-menu ul {
    padding:0;
    margin:0;
    width: 100%;
    list-style:none;
}
.slices-menu li {
    float:left;
    width:100%;
    padding:15px;
    cursor:pointer;
}
.slices-menu li:hover {
    background-color:$color-background;
}
.slices-menu li.active {
    background-color:$color-background;
}
.slices-menu li h4 {
    font-size:13pt;
    font-weight:400;
}
.slices-menu li h4:hover {
}
.slices-menu li span {
    font-size:9pt;
    font-weight:100;
    font-style:italic;
    color:gray;

}
.slices-menu li h5 {
    font-size:11pt;
    font-weight:100;
    margin:0;
    padding:0;
}
.slices-menu li h5:hover {
    color:#6a52d0;
}

/*
    Dialog
*/
.dialog {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:100%;
    z-index:999;
    background-color:$color-overlay;
}
.dialogClose {
    position: fixed;
    top: 25px;
    right: 25px;
    color: white;
    cursor: pointer;
    font-size:13pt;
}

.dialog .d-panel {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    height:100vh;
    padding:25px 50px 25px 50px;
    background-color:$color-background;
}
.dialog .d-panel .d-header {
    padding-bottom:25px;
}
.dialog .d-panel .d-bar {
}
.dialog .d-panel .d-body {
    height:60vh;
    overflow-y: auto;
}
.dialog .d-panel .d-footer {
    text-align:center;
    padding:25px  0;
}
.dialog .d-panel .d-footer button {
    margin:0 25px;
}
.dialog .d-selected {
    padding:5px 0;
    text-align:center;
}
.dialog .d-selected span {
    font-weight:700;
}
.dialog .d-selected a {
    font-weight:700;
    text-decoration:underline;
    cursor:pointer;
}


/*
    Sections
*/
.section {
}

.s-header {
    margin-bottom:15px;
    margin-top:25px;
    border-bottom:1px solid #DCDCF8;
}
.s-header h3 {
    font-size:20pt;
    font-weight:100;
}

.s-header-right {
    line-height:26pt;
}

.s-options {
    float:right;
    text-align:right;
    margin:0;
    padding:0;
    list-style:none;
}
.s-options li {
    float:left;
    margin:0;
    padding:0 15px 0 0;
    cursor:pointer;
}
.s-options li:last-child {
    padding-right:0;
}
.s-options li:hover {
    color:darkgreen;
}
.s-body {
}

/*
    Element List
*/

.elementList {
    list-style:none;
    margin:0;
    padding:5px 1px 2px 19px;
}
.elementListSimple {
    list-style:none;
    margin:0;
    padding:0 0 25px 20px;
}
.elementBox {
    position:relative;
    background-color:white;
    padding:10px 15px 15px 30px;
    margin:0;
    margin-bottom:6px;
    border:2px solid white;
}
.elementListSimple .elementBox {
    padding-bottom:8px;
    padding-left:25px;
    margin-bottom:0;
    border-bottom:1px solid #DCDCF8;
}
.elementBox.pointer {
    cursor:pointer;
}
.elementBox.selected {
    background-color: #f5f5f5;
    border:2px solid #4a4aba;
}
.elementBox .arrow-right, .elementBox .check-right {
    position:absolute;
    bottom:15px;
    right:15px;
}

.elementIcon {
  position:absolute;
  top:5px;
  left:-30px;
}
.elementIcon i.fa-inverse {
  color:$color-icon;
}
.elementListSimple .elementIcon {
  top:5px;
}
.elementListSimple .elementIcon img {
  margin-top:-12px;
}
.elementIcon.authority {
  color:$color-authority;
}
.elementBox.selected.authority {
}
.elementIcon.user {
  color:$color-user;
}
.elementBox.selected.user {
}
.elementIcon.project {
  color:$color-project;
}
.elementBox.selected.project {
}
.elementIcon.slice {
  color:$color-slice;
}
.elementBox.selected.slice {
}
.elementIcon.resource {
  color:$color-resource;
}
.elementBox.selected.resource {
}
.elementIcon.testbed {
  color:$color-testbed;
}
.elementBox.selected.testbed {
}
.elementIcon.registry {
  color:$color-registry;
}
.elementBox.selected.registry {
}

.elementTitle {
    font-size:14pt;
    color:darkblue;
}
.elementTitle span {
    font-size:8pt;
    color:gray;
}
.elementId {
    font-style:italic;
    font-size:8pt;
    color:gray;
}
.elementLabel {
    font-size:9pt;
    color:grey;
    margin-right:2px;
}
.elementLabel:hover a {
    color:#6a52d0;
}
.elementDetails {
  margin-top:15px;
}
.elementDetailsText {
  font-size: 9pt;
  font-style: italic;
  color:gray;
}
.elementDetailsLink:hover .more, .elementDetailsLink:hover .less {
  text-decoration:underline;
}
.elementDetailsLink .more, .elementDetailsLink .less {
  font-size:10pt;
  color:darkslategray;
  margin:0 8px 0 5px;
}
.elementDate {
  padding:5px 0;
  font-size:9pt;
}
.elementButton {
	top:85px;
    position:absolute;
    right:25px;
}
.elementOptions {
  position:absolute;
  top:15px;
  right:15px;
}
.elementBox:hover > .elementOptions li.elementOption {
  display:block;
}
.elementOption {
  display:none;
  float:left;
  font-size:9pt;
  list-style:none;
  margin-right:10px;
  cursor: pointer;
}
.elementOption:hover {
  text-decoration:underline;
}
.elementOption i {
  margin-right:4px;
}
.elementOption.delete, .elementOption.remove {
  color:red;
}
.elementOption:hover.add {
    color:darkblue;
}
.elementOption:hover.create {
    color:green;
}
.labelBox {
    padding-bottom:25px;
}
ul.labelOptions {
    margin:0;
    padding:0;
    list-style:none;
}
ul.labelOptions li {
    display:inline;
    font-size:9pt;
    border-right:1px solid #DCDCF8;
    padding-right:15px;
    padding-left:10px;
    cursor: pointer;
}
ul.labelOptions li:last-child {
    border:0;
    padding-right:0;
}
ul.labelOptions li:first-child {
    padding-left:0;
}
ul.labelOptions li:hover {
    text-decoration:underline;
}
ul.labelOptions li i {
    margin-right:5px;
}
ul.labelOptions li.delete, ul.labelOptions li.remove {
    color:red;
}
ul.labelOptions li:hover.add {
    color:darkblue;
}

.elementStatus {
  font-size:9pt;
  float:left;
  list-style:none;
}
.elementStatus .new {
    color:$color-status-new;
}
.elementStatus .success, .elementStatus .enabled, .elementStatus .online,
.labelStatus .success, .labelStatus .enabled, .labelStatus .online {
    color:$color-status-success;
}
.elementStatus .error, .elementStatus .denied, .elementStatus .offline,
.labelStatus .error, .labelStatus .denied, .labelStatus .offline {
    color:$color-status-error;
}
.elementStatus .warning,
.labelStatus .warning {
    color:$color-status-warning;
}
.elementStatus .waiting, .elementStatus .pending,
.labelStatus .waiting, .labelStatus .pending {
    color:$color-status-waiting;
}

.technologyBox {
  background-color:white;
  border-right:1px solid white;
  border-left:1px solid white;
  border-top:1px solid #DEDEDE;
  padding:25px;
}
.technologyBox:first-child {
  border-radius:4px 4px 0 0;
  border-top-color:white;
}
.technologyBox:last-child {
  border-radius:0 0 4px 4px;
  border-bottom:1px solid white;
}
.technologyBox .technologyLabel {
  text-align:right;
}

.technologyTestbeds {
  border-left:2pt solid $color-testbed;
  padding-top:25px;
  padding-bottom:50px;
  padding-left:50px;
}
.technologyLabel {
    line-height:1em;
    font-size:20pt;
    font-weight:100;
    padding-top:25px;
    padding-right:50px;
}
.technologyLabel img {
    margin-bottom:15px;
}
.technologyIcon {
    vertical-align:middle;
    width:45px;
    height:45px;
}

/*
    SUMMARY LIST
 */
.summaryList {
    position:relative;
}
.summaryList .summaryIcon {
    position:absolute;
    top:-16px;
    left:0;
}
.summaryList > ul {
    list-style:none;
    margin:50px 0 0 45px;
    padding:0;
    border-top:2pt solid $color-default;
}
.summaryList.authority > ul {
    border-top:2pt solid $color-authority;
}
.summaryList.user > ul {
    border-top:2pt solid $color-user;
}
.summaryList.project > ul {
    border-top:2pt solid $color-project;
}
.summaryList.slice > ul {
    border-top:2pt solid $color-slice;
}
.summaryList.resource > ul {
    border-top:2pt solid $color-resource;
}
.summaryList > ul > li {
  position:relative;
  margin:10px 0 0 0;
}
.summaryList > ul > li:hover .elementOption {
  display:block;
}
.summaryList > ul > li span.email {

}

.summaryList > ul > li > ul {
  position:absolute;
  top:0;
  right:0;
}
/*
    LOG
*/
.logList {
    margin:5px 0 0 0;
    padding:0;
    list-style:none;
}
.logRow {
    font-size:9pt;
}
.logIcon {
    color:#F6B26B;
}
.logTimestamp {
    margin-left:8px;
}
.logType {
    font-weight:bold;
    margin:0 8px;
}
.logMessage {

}

/*
    NOTIFICATIONS
 */
.notificationContainer {
    position:fixed;
    top:-38px;
    left:33%;
    right:33%;
    z-index:100;
    height:35px;
    line-height:35px;

    -webkit-animation: slideDown 0.5s forwards, slideUp 0.5s forwards;
    -webkit-animation-delay: 0.5s, 10s;
    animation: slideDown 0.5s forwards, slideUp 0.5s forwards;
    animation-delay: 0.5s, 10s;

}
@-webkit-keyframes slideDown {
    0% { top: -38px; }
    100% { top: 0; }
}

@keyframes slideDown {
    0% { top: -38px; }
    100% { top: 0; }
}
@-webkit-keyframes slideUp {
    0% { top: 0; }
    100% { top: -38px; }
}

@keyframes slideUp {
    0% { top: 0; }
    100% { top: -38px; }
}

.notificationContainer .notificationInfo {
    background-color: #CFE2F3;
    border-bottom:1px solid #3D85C6;
    border-right:1px solid #3D85C6;
    border-left:1px solid #3D85C6;
    border-radius:0 0 5px 5px;
    padding:0 6px;
}
.notificationContainer .notificationInfo i {
    color:#3D85C6;
}
.notificationContainer .notificationSuccess {
    background-color: #d9ead3;
    border-bottom:1px solid #6AA84F;
    border-right:1px solid #6AA84F;
    border-left:1px solid #6AA84F;
    border-radius:0 0 5px 5px;
    padding:0 6px;
}
.notificationContainer .notificationSuccess i {
    color:#6AA84F;
}
.notificationContainer .notificationError {
    background-color: #F4CCCC;
    border-bottom:1px solid #CC0000;
    border-right:1px solid #CC0000;
    border-left:1px solid #CC0000;
    border-radius:0 0 5px 5px;
    padding:0 6px;
}
.notificationContainer .notificationError i {
    color:#CC0000;
}
.notificationContainer .notificationWarning {
    background-color: #FCE5CD;
    border-bottom:1px solid #E69138;
    border-right:1px solid #E69138;
    border-left:1px solid #E69138;
    border-radius:0 0 5px 5px;
    padding:0 6px;
}
.notificationContainer .notificationWarning i {
    color:#E69138;
}
/*
    SETTINGS general for profile,password
*/

.settings-span {
    float: left;
    padding:0 12px 0 12px;
    font-size: 70%;
    font-weight: bold;
    color: #808080;
}

.settings-group {
    padding-bottom: 7.5px;
}

/*
    PROFILE
*/

.profileFirstName {
    padding-left: 7.5px;
    float: left;
    width: 50%;
}

.profileLastName {
    padding-right: 7.5px;
    float: left;
    width: 50%;
}

.profileAvatar {
    margin-bottom: 5px;
}


.profileBio textarea{
    font-size:11pt;
    padding:8px 12px;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 8px;
    border: 1px solid #ccc;
    color: #333;
    background-color:white;
    outline: none;
    box-shadow: none;
    margin-top: 0px;
    width:100%;
    resize:none;
}

.profileBio textarea:focus{
    border:1px solid #251A50;
    box-shadow: none;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/*
    Password
*/

.helpBlock {
    /*Light Yellow*/
    font-size: 85%;
    color: #FFA500; 
}

.WarningBlock {
    font-size: 85%;
    color: red;
    padding-bottom: 2px;
}

.inputIcon {
    float: right;
    margin-right: 35px;
    margin-top: -26px;
    position: relative;
    color: green;
    z-index: 91

}

@media(max-width:767px) {
    .p-header {
    }
    .p-body {
    }
}

@media(min-width:768px) {

}
@media(max-width:992px) {
    header {
        position:static;
    }
    .p-header {
        position:static;
        width:100%;
        padding:0;
    }
    .p-body {
        position:static;
        width:100%;
        padding:0;
    }

}
@media(min-width:1200px) {

}