<p>Dear 
    {% for r in recipients %}
        {% block r %}
            {{ escape(r.first_name) }} {{ escape(r.last_name) }}, 
        {% end %}
    {% end %}
</p>

<p>You are receiving this email because you are listed as a manager for your organization.</p>

<p>A user from your organization has requested the creation of a new project.</p>

<p>Follow the link below to accept/deny request</p>


{% include ../button.html %}

<p>If you believe that you have received this message in error, or if you have any questions, kindly contact support@{{theme}}.eu.</p>

<p>Yours sincerely,</p>
<p>The OneLab team</p>