{% extends "body.html" %}
{% block content %}
<table class="row"><tbody><tr> <!-- Email Content -->
  <th class="small-12 large-12 columns first last">
    <table class =""><tr>
      <th>
       
        {% if entity == 'USER' %}
            {% include approve/user_request_approved.html %}
        
        {% elif entity == 'SLICE' %}
            {% include approve/slice_request_approved.html %}
            
        {% elif entity == 'PROJECT' %}
            {% include approve/project_request_approved.html %}

        {% elif entity == 'AUTHORITY' %}
            {% include approve/authority_request_approved.html %}

        {% end %}
      </th>
      
        <th class="expander"></th>
      </tr></table>
    </th></tr></tbody>
  </table>
{% end %}

