<!-- Call to action button -->
<table class="row"><tbody><tr> 
  <th class="small-12 large-12 columns first last">
    <table>
      <tr>
        <th>
          <center data-parsed="">
            <br align="center" class="text-center"><br align="center" class="text-center">
            <table class="button text-center"><tr><td><table><tr><td><a href={{ url }}>View Full Details</a></td></tr></table></td></tr></table>
          </center>
        </th>
        <th class="expander"></th>
      </tr>
    </table>
  </th>
</tr></tbody></table>