{% extends "body.html" %}
{% block content %}
<table class="row"><tbody><tr> <!-- Email Content -->
  <th class="small-12 large-12 columns first last">
    <table class =""><tr>
      <th>

		<p>Welcome to {{name}}.</p>
		
		<p>Follow the link below to confirm your email:</p>
		
		{% include button.html %}
		
		<p>Once you have validated your account it will need to be also validated by the member of your organisation or {{name}} member. Thid usually takes less then 24h.</p>
		
		<p>If you have any questions do not hesitate to contact us:  support@{{theme}}.eu.</p>

		<p>Yours sincerely,</p>
		<p>The {{name}} team</p>

      </th>
        <th class="expander"></th>
      </tr></table>
    </th></tr></tbody>
  </table>
{% end %}
