

<th class="expander"></th>


{% for key in items.keys() %}
  {% block key %}
   <table class="row"><tbody><tr> 
    <th class="small-12 large-1 columns first">
      <table>
        <tr>
          <th>
           <p>{{ escape(key)}}<
          </th>
        </tr>
      </table>
    </th>
    <th class="small-12 large-12 columns last">
      <table>
        <tr>
          <th>
            {{ escape(items[key]) }}
          </th>
        </tr>
      </table>
    </th>
  </tr></tbody></table>
  {% end %}
{% end %}


<th class="expander"></th>





