{% extends "body.html" %}
{% block content %}
<table class="row"><tbody><tr> <!-- Email Content -->
  <th class="small-12 large-12 columns first last">
    <table class =""><tr>
      <th>

        {% if entity == 'USER' %}
            {% include request/user_request_email.html %}
        
        {% elif entity == 'SLICE' %}
            {% include request/slice_request_email.html %}
            
        {% elif entity == 'PROJECT' %}
            {% include request/project_request_email.html %}

        {% elif entity == 'AUTHORITY' %}
            {% include request/authority_request_email.html %}

        {% end %}
      </th>
        <th class="expander"></th>
      </tr></table>
    </th></tr></tbody>
  </table>
{% end %}