<p>Dear 
    {% for r in recipients %}
        {% block r %}
            {{ escape(r.first_name) }} {{ escape(r.last_name) }}, 
        {% end %}
    {% end %}
</p>
<p></p>

<p>You have recently requested a slice in the {{theme}} portal.</p>

<p>We regret to inform you that, a manager of your institution has rejected your request. Please contact the manager of your institution for further information. 
For any other queries, please contact us by replying to this email.</p>

<p></p>

<p>We wish you a fruitful user experience on {{theme}}.</p>
<p>Yours sincerely,</p>
<p>The {{theme}} team</p>