<table class="row"><tbody><tr> <!-- Spacer -->
  <th class="small-12 large-12 columns first last">
    <table>
      <tr>
        <th>
          <hr>
        </th>
        <th class="expander"></th>
      </tr>
    </table>
  </th>
</tr></tbody></table>

{% for key in items_with_buttons.keys() %}
  {% block key %}
   <table class="row"><tbody><tr> 
    <th class="small-12 large-1 columns first">
      <table>
        <tr>
          <th>
           <p>{{ escape(key)}}<
          </th>
        </tr>
      </table>
    </th>
    <th class="small-12 large-12 columns last">
      <table>
        <tr>
          <th>
            {{ escape(items[key]) }}
          </th>
        </tr>
      </table>
    </th>
  </tr></tbody></table>
  {% end %}
{% end %}

<table class="row"><tbody><tr> <!-- Spacer -->
  <th class="small-12 large-12 columns first last">
    <table>
      <tr>
        <th>
          <hr>
        </th>
        <th class="expander"></th>
      </tr>
    </table>
  </th>
</tr></tbody></table>

{% include button.html %}